


.open-sans-normal{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


/* shared style */
.secondary-bg{
    background-color: #FFF8F3;
    
}
.text-primary {
    color: #FD6E0A;
}
.dark-01{
    color: #181818;
}
.dark-02{
    color: #474747;
}
.dark-03{
    color:#757575;
}
.btn-primary{
    background-color: #FD6E0A;
    color:#FFFFFF;
    padding:18px 35px 19px 36px ;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700px;
    cursor: pointer;
    border:none ;
    
    
}
.section-title{
   font-size: 35px;
   font-weight: bold;
   margin-bottom: 30px;
}
.section-description{
font-size: 18px;


}
.text-center{
    text-align: center;
}
/* header styles */
header{
    background-image: url(../images/developer.png),url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position:left top, right bottom;
}

/* nav style */
nav{
    display:flex;
    justify-content:space-between;
    align-items: center;
    margin-left: 226px;
    margin-right: 214px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
    /* margin-left:226px ; */
}
nav ul{
    display: flex;
    align-items: center;

}
nav li a {
    font-size:20px;
    text-decoration: none;
}
nav  ul li{
    list-style: none;
    margin-right: 51px;

}
/* banner styles */
.banner{
    margin:0px 35px 0px 230px;
    display:flex;
    justify-content: space-between;

}
.banner-contant{
    max-width:585px;
   
}
.banner-greetings{
    font-size: 45px;
    font-weight:600px ;
    margin-bottom:0px;
}
.banner-title{
    width: 495px;
    font-size:70px;
    font-weight: 700;
    margin-bottom: 20px;
}
.banner-description{
    margin-bottom:30px;
}
.banner-profile-pic{
    width: 584px;
}
.banner-btn{
    background-color: #FFFFFF;
    border: 1px solid #FD6E0A;
    color:#FD6E0A;
    margin-left: 30px;
    /* padding: 19px 23px 18px 24px; */
}
/* main styles */
main{
    max-width: 1140px;
    margin: 0 auto;
    
}
main section{
    margin-top: 130px;
    margin-bottom: 130px;
}
/* about section styles */
.about{
    padding:130px 150px 130px 150px;
    text-align: center;
    border-radius: 10px;
    /* margin-top: 130px; */
}
.about-items{
    display: flex;
    justify-content: space-around;
}
.item-title{
    font-size: 20px;
}
.item-description{
    font-size: 20px;
    font-weight: 700;
}
/* skills  section styles */
.skills-container{
    display: flex;
    gap: 25px;
    margin: 50px 50px 0px 50px;
    
}
.skill{

    padding: 30px 33px 30px 29px;
   border-radius: 5px;
    box-shadow:0px 6px 50px 0px rgba(0, 0, 0, 0.06) ;
}
.skills-description {
margin: 30px 165px 50px 60px;

}
/* resume section styles */
.section-title{
         font-size: 35px;
         font-weight: 700px;
}
.resume-container{
    display:flex;
    gap: 24px;
}
.resume-column-title{
    font-size:30px ;
    font-weight: 700px;
}
.resume hr{
    margin-top: 30px;
    margin-bottom: 30px;
}

.experience-title{
    font-size: 25px;
    font-weight: 700;
   
}
.experience-sub-title{
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 20px;
}
.resume-download-button{
    margin-top: 50px;
}
/* footer styles  */
footer{
    display:flex;
    padding-top: 130px;
    padding-left: 230px;
    padding-right: 230px;
    padding-bottom: 130px;
    gap: 117px;
}
.footer-title{
    margin-bottom: 22px;
}
input{
    width: 461px;
    height: 64px;
    margin-bottom: 24px;
    border: none;
    padding-left: 30px;
    border-radius: 5px;
}

textarea{
    border: none;
    width: 461px;
    height: 180px;
    margin-bottom: 24px;
    padding-left: 30px;
    padding-top: 18px;
    border-radius: 5px;
}



